# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Flask instance folder
instance/

# Testing
.pytest_cache/
*.egg-info/

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db
