blinker==1.8.2
chardet==5.2.0
click==8.1.7
Flask==3.0.3
Flask-Cors==5.0.0
fuzzywuzzy==0.18.0
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
numpy==2.1.2
owlready2==0.46
pandas==2.2.3
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
rdflib==7.1.1
six==1.16.0
tzdata==2024.2
Werkzeug==3.0.4